/* Global */
body {
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Title */
h1 {
    margin-bottom: 40px;
    color: #0f172a;
}

/* Card Container */
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Cards */
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    margin: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    text-align: left;
}

.card h3 {
    text-align: center;
    color: #2563eb;
    margin-bottom: 15px;
}

/* Inputs */
.card input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
}

/* Buttons */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #2564eb;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

button:hover {
    background: #1e40af;
}

/* Query Result */
.result-box {
    background: #e2e8f0;
    padding: 10px;
    height: 120px;
    overflow-y: auto;
    border-radius: 8px;
    font-size: 14px;
}

/* System Logs */
.log-container {
    margin-top: 40px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    text-align: left;
}

.log-container h2 {
    text-align: center;
    color: #0f172a;
    margin-bottom: 15px;
}

.log-box {
    background: #020617;
    color: #22c55e;
    padding: 15px;
    height: 160px;
    overflow-y: auto;
    border-radius: 8px;
    font-family: monospace;
    font-size: 14px;
}
